@media print {
	@page {
		size: 210mm 297mm;
		margin: 0mm;
	
	}

	html, body {
		width: 100%;
		height: 190mm;
		margin: 0mm;
	}

	input[type=submit] { 
		display: none;
	}
}

@media screen {
	html, body {
		height: 100%;
	}
}

body {
	font-size: 18pt; 
	font-family: verdana, sans-serif;
	margin: 0px;
	padding: 0px;
	color: #000000;
	background: #ffffff;
}

td {
	font-family: helvetica, verdana, sans-serif;
	line-height: 150%;
}

ul {
	list-style-image:url(pix/box-blue.png);
}

table {
	margin: 0px;
	padding: 10px;
	height: 100%;
	width: 100%;
}

tr.header {
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
}

td.line {
	border-bottom: solid;
	border-width: 2px;
	border-color: #007b9c;
}

tr.content {
	text-align: left;
	vertical-align: top;
	min-height: 400px;
	height: 100%;
}

tr.title {
	text-align: center;
	vertical-align: middle;
	min-height: 400px;
	height: 100%;
}

tr.cite {
	text-align: center;
	vertical-align: middle;
	min-height: 400px;
	font-style: italic;
	height: 100%;
}

tr.meta {
	vertical-align: middle;
}

td.logo {
	padding-top: 8pt;
	text-align: left;
	vertical-align: middle;
}

td.left {
	text-align: left;
}

td.right {
	padding-top: 8pt;
	text-align: right;
}

td.content {
	padding: 5%;
}

a {
	text-decoration: underline;
	font-weight: normal;
	color: #333333;
}

form {
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
}

pre {
	font-family: courier, serif;
	font-size: 12pt;
	line-height: 12pt;
}

code {
	font-family: courier, serif;
	color: #007b0c;
}

.small, .meta {
	font-family: verdana, sans-serif;
	font-size: 8pt;
}

div.title {
	padding-left: 11pt;
	background-color: #6bbdd6;
	min-height: 42px;
	border-bottom: solid;
	border-width: 10px;
	border-color: #007b9c;
}

div.subtitle {
	padding-left: 11pt;
	background-color: #007b9c;
	margin-top: 5pt;
	min-height: 12px;
}

div.topic {
	text-align: center;
	font-weight: bold;
}

.chapter {
	font-size: 10pt;
	text-align: right;
}

.quote {
	font-size: small;
	font-style: italic;
	margin: 18pt;
}

input[type=submit] {
	font-size: 5pt;
	border: 1px #cccccc solid; 
}
