/* $OpenBSD: openbsd.css,v 1.19 2019/06/03 02:43:03 deraadt Exp $ */

:root {
	--red:   #E00000;
	--green: #008100;
	--blue:  #0000E0;
	--buildhead: #E0E0E0;
}

:link {
	color: #23238E;
}

:visited {
	color: #008088;
}

body {
	background-color: #FFFFFF;
	color: #111111;
	margin: 15px auto;
	padding: 0 10px;
}

code {
	white-space: nowrap;
}

@media (min-width: 800px) {
	body {
		max-width: 85%;
	}
}

tt {
	white-space: pre;
}

.cmdbox {
	background: #F5F5F5;
	border: 1px solid #AAAAAA;
	overflow: auto;
	padding: 10px;
}

#OpenBSD {
	color: #E00000;
}

#OpenBSD :link i, #OpenBSD :visited i {
	color: #0000FF;
}

#OpenBSD :link b, #OpenBSD :visited b {
	color: #000084;
}

#OpenBSD small {
	font-weight: normal;
	float: right;
}

/* sidebar layout */

#project-main {
	height: 100%;
	border-collapse: collapse;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

#project-main td {
	padding: 4px;
}

#project-main tr td:first-child {
	border-right: 11px solid;
}

#project-main tr td:first-child {
	background-color: #6BBDD6;
	border-color: #007B9C;
}

#project-main.not-openbsd tr td:first-child {
	background-color: #6BBDD6;
	border-color: #007B9C;
}

#project-main tr td:first-child h1 {
	margin: 0;
	font-size: 15pt;
	white-space: nowrap;
}

#project-main tr td:first-child ul {
	margin-top: 0;
	margin-bottom: 1em;
	padding-left: 0;
}

#project-main tr td:first-child ul li {
	list-style-type: none;
	list-style-position: inside;
	margin-left: 0.5em;
}

#project-main .header {
	margin: 0;
	text-align: center;
}

#callout {
	color: #E00000;
	font-weight: bold;
	text-align: center;
}

.not-openbsd #callout {
	color: #0000A0;
	font-weight: normal;
}

#project-main .align-top {
	vertical-align: top;
}

#project-main .align-bottom {
	vertical-align: bottom;
}

/* errataXX.html */

#errata strong {
	color: var(--green);
}

/* XX.html */

#release #OpenBSD + table {
	border-spacing: 0;
	margin-bottom: 1.5em;
}

#release #OpenBSD + table td {
	vertical-align: top;
}

#release #OpenBSD + table > tbody > tr > td {
	padding-left: 1.4em;
}

#release #OpenBSD + table ul {
	margin-left: 0;
	padding-left: 0;
}

#release #OpenBSD + table ul li {
	margin-left: 0;
	padding-left: 0;
}

#release cite.isbn {
	color: var(--red);
	font-style: normal;
}

#release code.reldir {
	color: var(--red);
	font-family: serif;
}

#release table.signify {
	font-family: monospace;
}

#release table.signify td {
	padding: 0;
}

#release h3 {
	color: var(--blue);
}

#release #quickinstall h3 {
	color: var(--red);
}

#release kbd {
	font-weight: bolder;
}

#release #new li p {
	margin-bottom: 0;
}

#release #new li p + p {
	margin-top: 0;
}

#release #new li + li {
	margin-top: 1em;
}

#release #new li li + li {
	margin-top: 0;
}

#release #new li li ul {
	margin-bottom: 0;
}

#release #quickinstall p:first-child {
	margin-left: 0;
}

#release #quickinstall p {
	margin-left: 2.5em;
}

#release #quickinstall blockquote {
	margin-left: 4.5em;
}

/* platform pages */

#platform #OpenBSD + hr + table {
	margin-bottom: 0;
}
#platform #OpenBSD + hr + table tr {
	margin-left: 0;
}

#platform #OpenBSD + hr + table td {
	vertical-align: top;
	padding-left: 0;
	padding-bottom: 0;
}

#platform #OpenBSD + hr + table p {
	margin-top: 0;
}

#platform #OpenBSD + hr + table p:last-child {
	margin-bottom: 0;
}

#platform h3 {
	color: var(--blue);
}

/* redefine colors for dark mode */

@media (prefers-color-scheme: dark) {
	:root {
		--red:   #E05434;
		--green: #20B700;
		--blue:  #A7C1E5;
		--buildhead: #474749;
	}

	:link {
		color: #BAD7FF;
	}

	:visited {
		color: #F6BAFF;
	}

	body {
		background-color: #1E1F21;
		color: #EEEFF1;
	}

	.cmdbox {
		background: #000000;
		color: #FFFFFFF;
	}

	#OpenBSD :link {
		text-decoration-color: #CF4229;
	}

	#OpenBSD :link i, #OpenBSD :visited i {
		color: #F2CA30;
	}

	#OpenBSD :link b, #OpenBSD :visited b {
		color: #CF4229;
	}

	#OpenBSD {
		color: #EEEFF1;
	}

	#faq #OpenBSD small :link {
		text-decoration-color: #BAD7FF;
	}

	#project-main tr td:first-child {
		background-color: #202F51;
		border-color: #97BADB;
	}

	#project-main.not-openbsd tr td:first-child {
		background-color: #202F51;
		border-color: #97BADB;
	}

	#callout {
		color: #E05434;
	}

	.not-openbsd #callout {
		color: #E05434;
	}
}
