@media print {
	@page {
		size: 210mm 297mm;
		margin: 0mm;
	
	}

	html, body {
		width: 100%;
		height: 190mm;
		margin: 0mm;
	}

	input[type=submit] { 
		display: none;
	}
}

@media screen {
	html, body {
		height: 100%;
	}
}

body {
	font-family: lucida grande, geneva, verdana, arial, helvetica, sans-serif;
	font-size: 18pt; 
	margin: 0px;
}

td {
	line-height: 150%;
}

ul {
	list-style-type: square;
}

table {
	padding: 10pt;
	height: 100%;
	width: 100%;
}

tr.header {
	vertical-align: middle;
	text-align: left;
}

td.line {
	border-bottom: solid;
	border-width: 1px;
	border-color: #999999;
}

tr.content {
	text-align: left;
	vertical-align: top;
	min-height: 400px;
	height: 100%;
}

tr.title {
	text-align: center;
	vertical-align: middle;
	min-height: 400px;
	height: 100%;
}

tr.meta {
	vertical-align: middle;
}

td.left {
	text-align: left;
}

td.right {
	text-align: right;
}

a {
	text-decoration: underline;
	font-weight: normal;
	color: #000000;
}

form {
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
}

pre {
	font-family: courier, serif;
	font-size: 12pt;
	line-height: 12pt;
}

code {
	font-family: courier, serif;
}

.small, .meta {
	font-size: 8pt;
}

div.title {
	padding-left: 8pt;
	color: #ffffff;
	font-weight: bold;
	background-color: #0000ee;
}

div.topic {
	text-align: center;
	font-weight: bold;
	color: #0000ee;
}

.chapter {
	font-size: 10pt;
	text-align: right;
}

.quote {
	font-size: small;
	font-style: italic;
	margin: 18pt;
}

.note {
	text-align: center;
	color: #ee0000;
}

a.link {
	color: #ee0000;
}