  A:link { background: black; color: #94d6e7}
  A:visited { background: black; color: #ce007b}
  A:active { background: yellow; color: red; text-decoration: none}
  A:hover { background: black; color: #94d6e7; font-weight: bold; text-decoration: none}
