body, html {
	font-family:"Comic Sans MS", "Chalkboard SE", cursive, sans-serif;
	margin: 0;
	padding: 0;
	background: #ffffff;
}
.libre-ssl>hgroup:after, .libre-ssl>section:after {
	content: '';
	height: 0px;
	border: 1px inset ThreeDFace;
	display: block;
}
.libre-ssl>section:last-of-type:after {
	border: none;
}
.libre-ssl>hgroup>header>h1 {
	text-align: center;
}
blink {
	animation:blink 1s;
	animation-iteration-count: infinite;
	-webkit-animation:blink 1s;
	-webkit-animation-iteration-count: infinite;
}
@keyframes blink {
	0%{opacity:0.0;}
	50%{opacity:0.0;}
	50.01%{opacity:1.0;}
	100%{opacity:1.0;}
}
@-webkit-keyframes blink {
	0%{opacity:0.0;}
	50%{opacity:0.0;}
	50.01%{opacity:1.0;}
	100%{opacity:1.0;}
}
section.libre-ssl {
	margin: 1em;
}
section.we-love-web-devs-especially-those-that-write-blink-tags-for-us {
	font-size: 0.66em;
}
ul.indent-list {
	list-style-type: none;
}
